<nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <a class="navbar-brand" [routerLink]="['/']">{{ title }}</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/core']">Core</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/toasts']">Toasts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="changeSkin()" role="button">Toggle skin</a>
      </li>
    </ul>
  </div>
</nav>

<main role="main">
  <router-outlet></router-outlet>
</main>

<footer>
  <p>&copy; Cledar 2009-{{ today | date: 'yyyy' }} | Version: {{ version }}</p>
</footer>

<flexy-toasts-container></flexy-toasts-container>
