<demo-doc-layout [activeModule]="activeModule">
  <h1>@ng-flexy/skins</h1>
  <p>The module allows you to create independent, separately loading skins</p>

  <figure class="highlight">
    <code>npm i --save @ng-flexy/skins</code>
  </figure>

  <h3>Demo</h3>
  <div class="bd-example">
    <demo-skin-toggle></demo-skin-toggle>
  </div>

  <h3>Configuration</h3>

  <tabset>
    <tab heading="angular.json">
      <demo-pretty-code [code]="angularJsonContent | json"></demo-pretty-code>
    </tab>
    <tab heading="index.html">
      <demo-pretty-code [code]="indexContent"></demo-pretty-code>
    </tab>
    <tab heading="App skins config">
      <demo-pretty-code [code]="appSkinsConfigContent"></demo-pretty-code>
    </tab>
    <tab heading="app.module.ts">
      <demo-pretty-code
        code="@NgModule({
declarations: [AppComponent, DemoHomeComponent],
imports: [
  FlexySkinsModule.forRoot(SUPPORTED_SKINS),
],
providers: [],
bootstrap: [AppComponent]
})
export class AppModule {}"
      ></demo-pretty-code>
    </tab>
  </tabset>

  <h3>Usage</h3>
  <demo-pretty-code [code]="exampleContent"></demo-pretty-code>
</demo-doc-layout>
