<ng-template #treeRef let-children let-sideBar>
  <ul class="nav bd-sidenav" *ngIf="children">
    <li
      *ngFor="let page of children"
      [ngClass]="{
        active: currentUrl && currentUrl.includes(page.url),
        'bd-sidenav-active': currentUrl && currentUrl.includes(page.url)
      }"
    >
      <a *ngIf="page.url" [routerLink]="[page.url]">
        {{ page.label }}
      </a>
      <a *ngIf="!page.url">{{ page.label }}</a>

      <ng-container *ngIf="!!page && !!page.children">
        <ng-container *ngTemplateOutlet="treeRef; context: { $implicit: page.children, sideBar: true }"></ng-container>
      </ng-container>
    </li>
  </ul>
</ng-template>

<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
      <nav class="collapse bd-links" id="bd-docs-nav">
        <div class="bd-toc-item" *ngFor="let item of menuNav" [ngClass]="{ active: currentUrl && currentUrl.search(item.regexp) !== -1 }">
          <a class="bd-toc-link" [routerLink]="[item.url]">
            {{ item.label }}
          </a>

          <ng-container *ngTemplateOutlet="treeRef; context: { $implicit: item.children }"></ng-container>
        </div>
      </nav>
    </div>

    <div class="d-none d-xl-block col-xl-2 bd-toc" *ngIf="sectionNav">
      <ul class="section-nav">
        <li class="toc-entry toc-h2" *ngFor="let item of sectionNav">
          <a href="#{{ item.hash }}">{{ item.label }}</a>
          <ul *ngIf="item.children">
            <li class="toc-entry toc-h3" *ngFor="let section of item.children">
              <a href="#{{ section.hash }}">{{ section.label }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
      <ng-content></ng-content>
    </main>
  </div>
</div>
