demo-custom-figure {
  figure {
    background-color: $info;
  }
}
demo-custom-figure.header {
  figure {
    background-color: $primary;
    padding: 10px;
    text-align: center;
  }
}

demo-custom-figure.footer {
  figure {
    background-color: $secondary;
    text-align: right;
    font-size: 10px;
  }
}
