<h1>Layout schema based</h1>
<p class="bd-lead">
  Create advanced layouts with custom components based on javascript schema
</p>

<h3>Demo</h3>
<div class="bd-example">
  <demo-layout-schema></demo-layout-schema>
</div>

<h3>Configuration - custom components</h3>

<tabset>
  <tab heading="custom-figure.component.ts">
    <demo-pretty-code [code]="customFigureContent"></demo-pretty-code>
  </tab>

  <tab heading="declare custom figure">
    <demo-pretty-code
      code="@NgModule({
  imports: [
    FlexyLayoutModule.forChild({ figure: DemoCustomFigureComponent })
  ],
  entryComponents: [DemoCustomFigureComponent]
  }"
    ></demo-pretty-code>
  </tab>
</tabset>

<h3>Usage</h3>

<tabset>
  <tab heading="demo component">
    <demo-pretty-code [code]="demoComponentContent"></demo-pretty-code>
  </tab>
  <tab heading="demo html">
    <demo-pretty-code [code]="demoHtmlContent"></demo-pretty-code>
  </tab>
  <tab heading="demo scss">
    <demo-pretty-code [code]="demoCssContent"></demo-pretty-code>
  </tab>
</tabset>
