:host ::ng-deep .flx-container {
  background-color: burlywood;
}
:host ::ng-deep .flx-row {
  background-color: olive;
  margin: 2px;
  padding: 10px;
}
:host ::ng-deep .flx-col {
  background-color: #3dc7ab;
  padding: 10px;
}
