@import 'bootstrap-site/docs';

@import '~@ng-select/ng-select/scss/default.theme';

@import '~@ng-flexy/freezer/freezer';
@import '~@ng-flexy/toasts/toasts.module';
@import '~@ng-flexy/form-bootstrap/form-bootstrap.module';
@import '~@ng-flexy/form-bootstrap/form-bootstrap.fa-icons';
@import '~@ng-flexy/json-impexp/json-impexp';
@import '~@ng-flexy/highcharts/highcharts';
@import '~@ng-flexy/graphs/graphs.module';
@import '~@ng-flexy/crud/crud.module';

@import '../../app/layout/components/layout-json.component';
@import '../../app/json-impexp/json-impexp-example.component.scss';
@import '../../app/form-bootstrap/components/form-bootstrap-json.component';
@import '../../app/form-bootstrap/components/form-bootstrap-wizard.component';

.bd-navbar {
  background-color: #498fe1;
}

.bd-toc-item.active .bd-sidenav {
  display: block;
  padding-left: 5px;
}

demo-toasts-types {
  display: flex;
  justify-content: space-between;
  button {
    display: block;
  }
}

demo-pretty-code {
  pre.prettyprint {
    padding: 0;
    border: 0;
  }
}

demo-doc-layout {
  main {
    h1 {
      @extend .bd-title;
    }
    & > p {
      @extend .bd-lead;
    }
  }
}

.bd-example {
  margin-bottom: $spacer;
}

.bd-navbar .navbar-nav .nav-link {
  color: $white;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  background: rgba($secondary, 0.7);
  font-size: 10px;
  padding: 3px;
  text-align: right;
  color: $body-bg;
}
