<main class="bd-masthead" id="content" role="main">
  <div class="container">
    <div class="row align-items-center">
      <h1>@ng-flexy</h1>

      <div class="jumbotron col-12">
        <h2>Rapid ui development tools for Angular 8+ applications</h2>

        <a class="btn btn-lg btn-bd-primary" [routerLink]="['/core']">Get started</a> &nbsp;
        <a href="https://github.com/agileoPL/ng-flexy" target="_blank" class="btn btn-lg btn-outline-secondary">Github</a>

      </div>
    </div>
  </div>
</main>
