<h1>@ng-flexy/form</h1>
<div class="float-right">
  <a target="_blank" class="btn btn-secondary" href="https://ng-flexy.io/coverage/form/index.html" title="Code coverage"><i class="fa fa-code" aria-hidden="true"></i></a>
</div>
<p class="bd-lead">Flexy Form</p>

<figure class="highlight">
  <code>npm i --save @ng-flexy/form</code>
</figure>

<tabset>
  <tab heading="app.module.ts">
    <demo-pretty-code
      code="import { FlexyLayoutModule } from '@ng-flexy/layout';
import { FlexyFromModule } from '@ng-flexy/form';

@NgModule({
  imports: [
    FlexyLayoutModule.forRoot()
    FlexyFormModule.forRoot()
  ]
}"
    ></demo-pretty-code>
  </tab>
</tabset>
