<h1>Utils</h1>

<h2>Http cache interceptor</h2>

<h3>Demo</h3>
<div class="bd-example">
  <demo-http-cache></demo-http-cache>
</div>
<tabset>
  <tab heading="Demo source">
    <demo-pretty-code [code]="demoComponentContent"></demo-pretty-code>
  </tab>
</tabset>

<h3>Configuration</h3>

<demo-pretty-code
  code="import { FlexyHttpCacheInterceptor } from '@ng-flexy/core';

@NgModule({
  providers: [
    {
      provide: HTTP_INTERCEPTORS,
      useClass: FlexyHttpCacheInterceptor,
      multi: true
    },
  ]
})
"
></demo-pretty-code>

<h3>Usage</h3>
<demo-pretty-code
  code="@Injectable({
  providedIn: 'root'
})
export class UsersService {
  constructor(private httpClient: HttpClient) {}

  all(): Observable<User[]> {
    return this.httpClient
      .get('/api/users', {
        headers: { 'cache-control': 'cache' }
      })
      .pipe(
        map((data: UserData[]) => {
          return data.map(item => new User(item));
        })
      );
  }

  add(name: string): Promise<boolean> {
    return this.httpClient
      .post(
        environment.apiPath + '/user',
        {
          name: name
        },
        {
          headers: { 'clear-cache': '/api/users' }
        }
      );
  }

}
"
></demo-pretty-code>
