<h1>NgFlexy Core</h1>

<nav></nav>

<router-outlet></router-outlet>

<h3>Install</h3>

<p>run <code>`npm i --save @ng-flexy/core`</code></p>

<h2>Logger</h2>
<p>FlexyLogger is log level support display logs module.</p>

<h3>Usage</h3>

<demo-pretty-code
  code="// import module
@NgModule({
  imports: [FlexyLoggerModule],
})"
></demo-pretty-code>
<demo-pretty-code [code]="logsComponentContent"></demo-pretty-code>

<h3>Demo</h3>
<demo-logs></demo-logs>

<h2>Env</h2>
<p>Alternative env app configuration module</p>

<h3>Usage</h3>

<demo-pretty-code
  code="import {
  FLEXY_ENV_TOKEN,
  FlexyEnv,
  FlexyEnvModule,
} from '@ng-flexy/core';

// import in app module
@NgModule({
  imports: [FlexyEnvModule.forRoot({ version: '1.2' })],
})

// or import declared var
export declare var Env: FlexyEnv;
@NgModule({
  imports: [FlexyEnvModule],
  providers: [
    {
      provide: FLEXY_ENV_TOKEN,
      useValue: Env ? Env : {}
    }
  ]
})
"
></demo-pretty-code>

<demo-pretty-code
  code="@Component({
  selector: 'demo'
})
export class DemoComponent {
  version: string;

  constructor(
    private env: FlexyEnvService,
  ) {
    this.version = '' + this.env.get('version');
  }
}
"
></demo-pretty-code>

<h2>Toggle feature</h2>

<p>Toggle feature pattern implementation</p>

<h3>Usage</h3>
<demo-pretty-code
  code="import {FlexyFeatureToggleModule} from '@ng-flexy/core';

// import in app module
@NgModule({
  imports: [FlexyFeatureToggleModule.forRoot()],
})
"
></demo-pretty-code>

<demo-pretty-code [code]="toggleFeatureComponentContent"></demo-pretty-code>

<h3>Demo</h3>
<demo-toggle-feature></demo-toggle-feature>

<h2>Domain Model</h2>

<p>Flexy model is a very easy/loose implementation of domain object / data transfer object pattern.</p>

<p>FlexyModel separates the application layer from the API layer - FlexyData</p>

<h3>Usage</h3>
<div>
  <tabset>
    <tab heading="Data transfer object">
      <demo-pretty-code [code]="userDataContent"></demo-pretty-code>
    </tab>
    <tab heading="Domain object" id="tab1">
      <demo-pretty-code [code]="userModelContent"></demo-pretty-code>
    </tab>
    <tab heading="Component">
      <demo-pretty-code [code]="usersComponentContent"></demo-pretty-code>
    </tab>
    <tab heading="Template">
      <demo-pretty-code [code]="usersComponentHtmlContent"></demo-pretty-code>
    </tab>
    <tab heading="Service">
      <demo-pretty-code [code]="usersServiceContent"></demo-pretty-code>
    </tab>
    <tab heading="API Data">
      <demo-pretty-code [code]="mockContent | json"></demo-pretty-code>
    </tab>
  </tabset>
</div>

<h3>Demo</h3>
<fieldset>
  <demo-models-users></demo-models-users>
</fieldset>
